# Basic gitignores to help prevent committing accidentally-stored passwords
**/*.properties
**/*.ini
**/*.config
**/*.props

# Local .terraform directories
**/.terraform/*

# .tfstate files
*.tfstate
*.tfstate.*

# Crash log files
crash.log

# Cryptographic key-pairs for SSH-ing into instances
*.pem
